<!DOCTYPE html>
<html lang="en">
<head>
	<title>Me</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<!-- 引入 WeUI -->
    <link rel="stylesheet" href="__ROOT__/Public/weui/css/weui.min.css"/>
    <link rel="stylesheet" href="__ROOT__/Public/weui/css/jquery-weui.min.css"/>
<style type="text/css">
   	html,body{height: 100%;}
</style>
</head>
<body ontouchstart>

	<div class="page tabbar" style="height: 100%;">
	    <div class="page__bd" style="height: 100%;">
					<div class="weui-tab" style="height: 100%;">
	        		<div id="panel" class="weui-tab__panel" style="height: 100%;">
	            		<div class="weui-cells__title">
	            		</div>
	            		<div class="weui-cells">
			            		<div class="weui-cell">
			                		<div class="weui-cell__bd">
			                    		<p>个人页面</p>
			                		</div>
			                		<div class="weui-cell__ft">
			                				{$account}
			                		</div>
			            		</div>
			        		</div>
									<div class="weui-cells__title"></div>
					        <div class="weui-cells">
					            <a class="weui-cell weui-cell_access" href="javascript:;" onclick="updatePersonalInformation()">
					                <div class="weui-cell__bd">
					                    <p>修改资料</p>
					                </div>
					                <div class="weui-cell__ft">说明文字</div>
					            </a>
					        </div>
									<div class="weui-cells__title"></div>
					        <div class="weui-cells">
					            <a class="weui-cell weui-cell_access" href="javascript:;" onclick="changePassword()">
					                <div class="weui-cell__bd">
					                    <p>修改密码</p>
					                </div>
					                <div class="weui-cell__ft"></div>
					            </a>
					        </div>
									<div class="weui-cells__title"></div>
					        <div class="weui-cells">
					            <a class="weui-cell weui-cell_access" href="javascript:;" onclick="logout()">
					                <div class="weui-cell__bd">
					                    <p>注销</p>
					                </div>
					                <div class="weui-cell__ft"></div>
					            </a>
					        </div>


			        		<br>
			        		<div class="weui-media-box__bd">
				        			<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->

									</div>

        			</div>
	            <div class="weui-tabbar">
	                <a href="__URL__/home" class="weui-tabbar__item weui-bar__item_on">
	                    <span style="display: inline-block;position: relative;">
	                        <img src="__ROOT__/Public/weui/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
	                        <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
	                    </span>
	                    <p class="weui-tabbar__label">首页</p>
	                </a>
	                <a href="__URL__/blankfill" class="weui-tabbar__item">
	                    <img src="__ROOT__/Public/weui/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
	                    <p class="weui-tabbar__label">填空</p>
	                </a>
	                <a href="__URL__/analyze" class="weui-tabbar__item">
	                    <span style="display: inline-block;position: relative;">
	                        <img src="__ROOT__/Public/weui/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
	                        <span class="weui-badge weui-badge_dot" style="position: absolute;top: 0;right: -6px;"></span>
	                    </span>
	                    <p class="weui-tabbar__label">发现</p>
	                </a>
	                <a href="javascript:;" class="weui-tabbar__item">
	                    <img src="__ROOT__/Public/weui/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
	                    <p class="weui-tabbar__label">我</p>
	                </a>
	            </div>
	        </div>
	    </div>
	</div>

	<script src="__ROOT__/Public/weui/js/jquery-2.1.4.js"></script>
	<script src="__ROOT__/Public/weui/js/jquery-weui.js"></script>
	<script src="__ROOT__/Public/weui/js/md5.min.js"></script>
	<script>
		$(function() {

	  });
		function logout(){
				$.confirm({
						title:'警告',
						text: "确认注销？",
						onOK: function () {
	    					//点击确认
								window.location.href = '__URL__/logout';
	  				},
	  				onCancel: function () {
	  				}
				});
		}

		function changePassword(){
				$.modal({
						title: '修改密码',
						text: '<p class="weui-prompt-text">密码需为6-20位的字母或数字！</p>' +
            			'<input type="password" class="weui-input weui-prompt-input" id="weui-prompt-password" value="" placeholder="请输入密码" />' +
            			'<input type="password" class="weui-input weui-prompt-input" id="weui-prompt-password2" value="" placeholder="请确认密码" />',
						autoClose: false,
						buttons: [{
								text: "取消",
								className: "default",
								onClick: function(){
										$.closeModal();
								}
						},{
								text: "确认",
								onClick: function(){
										// 点击确认按钮
										if (verifyPassword() && confirmPassword()) {
												var password = $('#weui-prompt-password').val();
												$.post("changePassword",{password:hex_md5(password)},function(result){
														if (result.data) {
																$.alert(result.message);
																setTimeout(function () {
			                          		window.location.href = '__URL__/logout';
			                        	}, 3000);
														} else {
															  $.alert(result.message);
														}
												});
												$.closeModal();
										}
								}
						}]
				});
				// 绑定用户密码校验
				$('#weui-prompt-password').keyup(verifyPassword);
				$('#weui-prompt-password2').keyup(confirmPassword);
		}
		// 验证密码是否符合要求
		function verifyPassword(){
				var ret = /^([a-zA-Z0-9]|[._]){6,20}$/;
			 	var password = $('#weui-prompt-password').val();
				if (ret.test(password)) {
            $('.weui-prompt-text').css('color','#999');
						return true;
        } else {
            $('.weui-prompt-text').css('color','red');
						return false;
        }
		}
		// 验证两次输入密码是否一致
		function confirmPassword(){
    		var newPassword = $('#weui-prompt-password').val();
        var confirmPassword = $('#weui-prompt-password2').val();
        if (newPassword != confirmPassword) {
            $('.weui-prompt-text').text('两次输入密码不一致!');
            $('.weui-prompt-text').css('color','red');
						return false;
        } else {
						$('.weui-prompt-text').text('可以修改');
            $('.weui-prompt-text').css('color','#999');
						return true;
        }
    }

		// 修改个人信息
		function updatePersonalInformation(){

		}

	</script>

</body>
</html>
