<!DOCTYPE html>
<html lang="en">
<head>
	<title>hello</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<!-- 引入 WeUI -->
    <link rel="stylesheet" href="__ROOT__/Public/weui/css/weui.min.css"/>
    <link rel="stylesheet" href="__ROOT__/Public/weui/css/jquery-weui.min.css"/>
    <style type="text/css">
    html,body{
   		height: 100%;
   		background-color: #F8F8F8;
   	}
    .title{
    	color: #00B38C;
    }
    .user{
    	color: #82ABBA;
    }

    </style>
</head>
<body ontouchstart>

	<div class="page tabbar" style="height: 100%;">

	    <div class="page__bd" style="height: 100%;">
	        <div class="weui-tab" style="height: 100%;">
	            <div id="panel" class="weui-tab__panel" style="height: 100%;">
	            	<div class="weui-cells__title">

	            	</div>
		            <div class="weui-cells">
				        <div class="weui-cell">
				            <div class="weui-cell__bd">
				                <p class="title" >首页</p>
				            </div>
				            <div class="weui-cell__ft user" >
			                	{$account}
			                </div>
			            </div>
			        </div>

			        <div id="dynamic"></div>


        		</div>
	            <div class="weui-tabbar">
	                <a href="__URL__/home" class="weui-tabbar__item weui-bar__item_on">
	                    <span style="display: inline-block;position: relative;">
	                        <img src="__ROOT__/Public/weui/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
	                        <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">6</span>
	                    </span>
	                    <p class="weui-tabbar__label">首页</p>
	                </a>
	                <a href="__URL__/blankfill" class="weui-tabbar__item">
	                	<span style="display: inline-block;position: relative;">
	                    	<img src="__ROOT__/Public/weui/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
	                    	<span class="weui-badge weui-badge_dot" style="position: absolute;top: 0;right: -6px;"></span>
	                    </span>
	                    <p class="weui-tabbar__label">填空</p>
	                </a>
	                <a href="__URL__/analyze" class="weui-tabbar__item">
	                    <span style="display: inline-block;position: relative;">
	                        <img src="__ROOT__/Public/weui/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
	                        <span class="weui-badge weui-badge_dot" style="position: absolute;top: 0;right: -6px;"></span>
	                    </span>
	                    <p class="weui-tabbar__label">发现</p>
	                </a>
	                <a href="__URL__/me" class="weui-tabbar__item">
	                    <img src="__ROOT__/Public/weui/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
	                    <p class="weui-tabbar__label">我</p>
	                </a>
	            </div>
	        </div>
	    </div>
	</div>

	<script src="__ROOT__/Public/weui/js/jquery-2.1.4.js"></script>
	<script src="__ROOT__/Public/weui/js/fastclick.js"></script>
	<script src="__ROOT__/Public/weui/js/jquery-weui.js"></script>

	<script>
	  $(function() {
	  	$.get("getDynamics",function(data){
				console.log(data);
	  		var len = data.length;
	  		var content = 	'<div class="weui-cells__title">'+
			        		'</div>'+
			        		'<div class="weui-cells">';
	  		for (var i = 0; i < len; i++){
	  			if (i%2 == 0){
	  				content += '<a class="weui-cell weui-cell_access" style="background-color:#F8F8F8" href="__URL__/'+ data[i].url +'">'+
			                	'<div class="weui-cell__bd" style="color:#726DD1">'+
			                    	'<p>'+data[i].account+data[i].description+'</p>'+
			                    	'<span style="color:#A2B4BA">'+data[i].create_time+'</span>'+
			                	'</div>'+
			               		'<div class="weui-cell__ft">'+'</div>'+
			               	'</a>';
	  			} else {
	  				content += '<a class="weui-cell weui-cell_access" href="__URL__/'+ data[i].url +'">'+
			                	'<div class="weui-cell__bd" style="color:#726DD1">'+
			                    	'<p>'+data[i].account+data[i].description+'</p>'+
			                    	'<span style="color:#A2B4BA">'+data[i].create_time+'</span>'+
			                	'</div>'+
			               		'<div class="weui-cell__ft">'+'</div>'+
			               	'</a>';
	  			}
	  		}
	  		content += '</div>';
	  		$('#dynamic').append(content);
	  	});
	  });
	</script>


</body>
</html>
