<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>登陆</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="__ROOT__/Public/weui/css/weui.min.css"/>
    <link rel="stylesheet" href="__ROOT__/Public/weui/css/jquery-weui.min.css"/>
    <style type="text/css">
    body{
        background-color: #F8F8F8;
    }
    .page__title{
        color: #00B0F0;
    }
    .page__desc{
        color: #82ABBA;
    }
    </style>
</head>
<body ontouchstart>
	<div class="page home">
    	<div class="page__hd">
    		<div class="weui-flex">
            	<div class="weui-flex__item">
            		<div class="placeholder"></div>
            	</div>
            	<div class="weui-flex__item">
            		<div class="placeholder">
            			<h1 class="page__title">登陆</h1>
						<p class="page__desc">在线练习</p>
            		</div>
            	</div>
            	<div class="weui-flex__item">
            		<div class="placeholder"></div>
            	</div>
        	</div>
		</div>
		<div class="page__bd page__bd_spacing">
			<FORM id="form" method="post" action="__URL__/login">

				<div class="weui-cells weui-cells_form">
					<div class="weui-cell">
			            <div class="weui-cell__hd">
			            	<label class="weui-label">账&nbsp;&nbsp;号：</label>
			            </div>
			            <div class="weui-cell__bd">
			                <input class="weui-input" type="text" name="account" placeholder="请输入账号"/>
			            </div>
			        </div>
			     	

			        <div class="weui-cell">
			            <div class="weui-cell__hd">
			            	<label class="weui-label">密&nbsp;&nbsp;码：</label>
			            </div>
			            <div class="weui-cell__bd">
			                <input class="weui-input" type="password" id="password" placeholder="请输入密码"/>
			                <input type="password" name="password" hidden="hidden" />
			            </div>
			        </div>
			        <div class="weui-cells__tips">
                        忘记密码请联系<span style="color: #A2B4BA">594113869@qq.com</span>
                    </div>

			        <div class="weui-btn-area">
			            <input class="weui-btn weui-btn_primary" type="submit" value="确定" />
			        </div>
			        <div class="weui-cells__tips" align="center">
			        	没有账号？前往<a onclick="register()" style="color:#6666FF">注册</a>
			        </div>

                    <div class="weui-cells__tips">
                        <span style="color: #A2B4BA">温馨提示：</span>
                    </div>
                    <div class="weui-cells__tips">
                        开启全屏模式体验效果最佳!
                    </div>
                    <div class="weui-cells__tips">
                        推荐使用UC、猎豹、搜狗、百度等浏览器。
                    </div>
                    
				</div>
			</FORM>
		</div>
		<div class="page__ft">
	        <div class="weui-footer weui-footer_fixed-bottom">
            	<p class="weui-footer__links">
                	<a href="__URL__/home" class="weui-footer__link">在线练习首页</a>
            	</p>
            	<p class="weui-footer__text">Copyright &copy; 2016-2020 nebulas.site</p>
        	</div>
	    </div>
	</div>

	<script src="__ROOT__/Public/weui/js/jquery-2.1.4.js"></script>
	<script src="__ROOT__/Public/weui/js/jquery-weui.js"></script>
	<script src="__ROOT__/Public/weui/js/md5.min.js"></script>
	<script src="__ROOT__/Public/weui/js/fastclick.js"></script>
	<script>
		$(function() {
	  		//$.alert(window.screen.height);
	    	//$('#panel').height(window.screen.height-50);

	  });
    // 用户登录
	  $("#form").submit(function(e){
	  		var password = $("#password").val();
	  		password = hex_md5(password);
	  		$("input[name='password']")[0].value = password;
		});
    // 用户注册
    function register(){
        $.login({
            title: '欢迎注册',
            text: '',
            autoClose: false,
            username: '',  // 默认用户名
            password: '',  // 默认密码
            // 点击确认
            onOK: function (username, password) {
                $.post("__URL__/verifyUsername",{username:username},function(result){
                    if (!result.data) {
                        // 用户已存在
                        $.alert('注册失败！用户已存在!');
                        return;
                    }
                    // 发起注册请求
                    $.post("__URL__/registerUser",{username:username,password:hex_md5(password)},function(result){
                        if (result) {
                            $.alert('注册成功');
                        } else {
                            $.alert('注册失败');
                        }
                    });
                });

            },
            onCancel: function () {
                $.closeModal();
            }
        });
        // 绑定用户注册时输入用户名事件
        $('#weui-prompt-username').keyup(verifyUsername);
    }

    // 验证用户名
    function verifyUsername(){
        var username = $('#weui-prompt-username').val();
        $.post("__URL__/verifyUsername",{username:username},function(result){
            if (!result.data) {
                // 用户已存在
                $('.weui-prompt-text').text('用户名已存在!').css('color','red');
                return;
            }
            $('.weui-prompt-text').text('');
        });
    }
	</script>

</body>
</html>
